.parent {
    display: flex;
    font-family: arial, sans-serif;
  }
  
  .item {
    width: 50%;
    padding: 2em;
    color: #ffffff;
    background: #eeeeee;
    min-height: 500px;
  }
  
  .last {
    color: #222;
    background: #ccc;
  }
  
  @media screen and (max-width: 600px){
    
    .parent {
      flex-direction: column;
      flex-wrap: wrap;  
    }
    
    .item {
      width: auto;
      margin-top: 3px;
      min-height: 200px;
    }
    
    .last {
      background: #aa0000;
    }
    
  }